 body{
    font-family: "courier new", monospace;
 }
header{

    border: 2px dotted red;
    height: 100px;
    width: 100%;
 
}
div{
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}
section{
    /* height: 500px; */
    width: 100%;
    padding-left: 20px;
    border: 2px solid black;
}
.yellow{


}
.red{
   

}
